<!DOCTYPE html>
<html>
<head>
    <title>About Petzro | The Management Solutions</title>
    <link rel="stylesheet" href="Abstract/style.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
    <script src="/javascripts/bootstrap.js"></script>
    <link rel="stylesheet" href="Abstract/nivo-slider.css" type="text/css" media="screen" />
    <style>
	.login{
		
background: url(../images/form.png);
background-repeat:repeat-y;
width: 500px;
height: 1100px;
margin: 0 auto;



	
	}
	.login img{
		position:relative;
		top:30px;
		left:110px
	}
	.paragraph{
		text-align:center;
		vertical-align:middle;
		position:relative;
		top:40px;
	}
	</style>
	
</head>
<body>
    <div class="container">
        <header>
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">Home</a>
                    <ul class="nav">
                        <li ><a href="/AboutUs">About Us</a></li>
                        <li class="divider-vertical"><a href="/ContactUS">Contact Us</a></li>
						<li class="divider-vertical"><a href="/Login">Login</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section>
            <div class='login'>
				<div class='row paragraph'>
					<h1>About Usama Noman</h1>
				</div>
				<div class='row'>
				<div class='span3'>
					<img class="thumbnail img-rounded" src='../images/Usama.jpg' />
				</div>	
				</div>
				<div class='row paragraph'>
					<p> This project is developed and designed by Usama Noman. Usama is a computer science student, in his third year of BS from FAST-NUCES. Usama work as web developer in Programmers'11, a small software house by all the Cheetas of FAST. </p>
					<p>Usama Noman is a really pasionate worker, loves to explore new technologies. For this product, Petzro, a project management solution, has done a great work of research. This product is open source available on GIT. He has promised to maintain the version control of this system. Usama wrote all the server of this online management system all by himself using the latest technologies like NodeJS, MongoDB, and ExpressJS.</p>
				</div>
				<div class='row paragraph'>
					<h1>About Programmers'11</h1>
				</div>
				<div class='row'>
				<div class='span3'>
					<img class="thumbnail img-rounded" src='../images/PG11.jpg' />
				</div>	
				</div>	
				<div class='row paragraph'>
					<p>Programmers'11 is a group of developers. We build freelancing products as well as products of our own just like this one, Petzro. We will be developing more and more technologies in near future.</p>
					<p>The passionate workers of PG11 are best in their works when it comes to development. Currently Programmers'11 work in many plateforms like Java, WordPress, NodeJS, MongoDB, ExpressJS, PhoneGAP, PHP, C, C++, SEO Writing, Graphics Designing etc.</p>
					<p>You can contact us on: +92344-3014737 for further information about this product and for hiring PG11 to build a similar for you.</p>
				</div>
								
			</div>
            <div class="content">
                     <div class="row">
                         <div class="span4">
                                <img src="images/Introduction.jpeg" class="thumbnail img-rounded" >
                                <h4>Introduction Of Petzro</h4>
                                <p>Petzro is simple and easy management solution web application which is build using recent and latest technologies. Petzro makes it easier for you to manage projects and assignments using the online web portal.</p>

                         </div>
                         <div class="span4">
                             <img src="images/Git.png" class="thumbnail img-rounded" >
                             <h4>Open Source</h4>
                             <p>Petzro shopping solution is build using open source technologies, includes NodeJS, MongoDB, ExpressJS, and BackboneJS. The source code and the complete project is available open source on GIT.</p>

                         </div>
                         <div class="span4">
                             <img src="images/nodejs.png" class="thumbnail img-rounded" >
                             <h4>Technologies</h4>
                             <p>NodeJS, a javascript server side language is used to implement the server of the website and the database used to storage is MongoDB which is also an open source technology.</p>

                         </div>

                     </div>

            </div>

        </section>
        <footer class="footer" >
            <div class="row">
                <div class="span4" class="site-links">
                  <h4>Site Links</h4>
                    <p>
                        <ul>
                    <li style="list-style: none"><a href="#"  style="text-decoration: none">Project Management</a></li>
                        <li style="list-style: none"><a href="#" style="text-decoration: none">Home</a></li>
                    <li style="list-style: none"><a href="#" style="text-decoration: none">About Us</a>     </li>
                    <li style="list-style: none"><a href="#" style="text-decoration: none" >Contact US</a>        </li>

                </ul>
                    </p>
                </div>
                <div class="span4">
                   <h4>Find Us</h4>
                    <p></p>
                </div>
                <div class="span4">
                    <h4>Join Mailing List</h4>
                     <p>
                        <form class="navbar-form pull-left well">
                        <input type="email" placeholder="Type Your Email Here" class="span2">
                        <button type="submit" class="btn">Submit</button>
                        </form>
                    </p>
                </div>

            </div>



        </footer>


    </div>

    <script type="text/javascript" src="Abstract/jquery-1.4.3.min.js"></script>
    <script type="text/javascript">
       
    </script>
</body>
</html>