<!DOCTYPE html>
<html>
    <head>
         <title>My Page – My Site</title>
    </head>
    <body>
         <% header = partial('/_header.ejs') %>
		 <div id="header"><%- header %></div>
         <div id="content"><%- body %></div>
    </body>
</html>